.container {
    padding-top: 50px;
    text-align: center;
    color: white;
}

#middle-row {
    padding-top: 50px;
}

#bottom-row {
    padding-top: 50px;
}

#smiley {
    width: 140px;
    height: 140px;
}