<div class="container">

  <div class="row">
    <div class="col-sm">
      <i class="em-svg em-angry" id="smiley"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" id="middle-row">
      <h1>
        <strong>{{counter}}</strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" id="bottom-row">
      <button type="button" class="btn btn-outline-light btn-lg btn-block" (click)="increase()">+1</button>
      <!--
        <button type="button" class="btn btn-outline-light btn-lg btn-block" (click)="decrease()">-1</button>
      -->
    </div>
  </div>

</div>